<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopify+|Ecommerce|Retail</title>
    <link rel="stylesheet" href="../../public/css/reviews.css">

</head>

<body>
    
    <!-- -------testimonial------ -->
    <div class="testimonial">
        <div class="smallcontainer">
            <div class="row">
                <div class="col-3">
                    <h1>&#10077;</h1>
                    <p>The quality of the tracksuit is very good. 5 star rating to the product according to price and the color is also pretty. I am satisfied with the product.</p>
                    <div class="rating">
                        &#9733; &#9733; &#9733; &#9733; &#9734;
                    </div>
                    <img src="./images/aditi.jpg"
                        alt="">
                    <h4>Aditi</h4>
                </div>
                <div class="col-3">
                    <h1>&#10077;</h1>
                    <p>I purchased shoes which turned out to be durable and of good quality. Highly satisfied with their services and the product.</p>
                    <div class="rating">
                        &#9733; &#9733; &#9733; &#9733; &#9734;
                    </div>
                    <img src="./images/keshab.jpg"
                        alt="">
                    <h4>Keshab </h4>
                </div>
                <div class="col-3">
                    <h1>&#10077;</h1>
                    <p>I bought an Mi smart watch which was worth the price and also it was in good condition with perfect finishing. I am satisfied with the product.</p>
                    <div class="rating">
                        &#9733; &#9733; &#9733; &#9733; &#9734;
                    </div>
                    <img src="./images/shreya.jpg"
                        alt="">
                    <h4>Shreya</h4>
                </div>
            </div>

        </div>
    </div>


   

</body>

</html>