<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/css/adminsignup.css">
</head>

<body>
    <div class="container">
        <div class="title">Admin Registration</div>
        <div class="form">
            <div class="user-detail">
                <div class="input-box">
                    <span class="details">Admin's full Name</span>
                    <input type="text" id="fName" placeholder="Name" required>
                </div>
                <div class="input-box">
                    <span class="details">Mobile Number</span>
                    <input type="text" id="phno"  required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="email" id="email" placeholder="Eg: abc@gmail.com" required>
                </div>
                <div class="input-box">
                    <span class="details">Shop's name</span>
                    <input type="text" id="sname" placeholder="" required>
                </div>
                <div class="input-box">
                    <span class="details">Shop's address</span>
                    <input type="text" id="add" placeholder="" required>
                </div>
                <div class="input-box">
                    <span class="details">Category</span>
                    <input type="text" id="category" placeholder="Eg: clothes,food" required>
                </div>
                
                
                
                
                
                <div class="input-box">
                    <span class="details">Choose shop's image</span>
                    <input type="file" id="pic"  required>
                </div>
               
            </div>
            <div class="button">
                <input type="submit" id="subtn"  name="Submit" value="Register">
                
            </div>
            <br>
            <br>
        </div>
    </div>
</body>


   

</html>