<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/css/adminsignup.css">
</head>

<body>
    <div class="container">
        <div class="title">Admin Registration</div>
        <div class="form">
            <div class="user-detail">
                <div class="input-box">
                    <span class="details">Admin's full Name</span>
                    <input type="text" id="fName" placeholder="Name" required>
                </div>
                <div class="input-box">
                    <span class="details">Mobile Number</span>
                    <input type="text" placeholder="1234567890" id="phno" required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="email" id="email" placeholder="Eg: abc@gmail.com" required>
                </div>
                <div class="input-box">
                    <span class="details">Shop's name</span>
                    <input type="text" id="sname" placeholder="Juicified" required>
                </div>
                <div class="input-box">
                    <span class="details">Shop's address</span>
                    <input type="text" id="add" placeholder="15th cross, JP Nagar" required>
                </div>
                <div class="input-box">
                    <span class="details">Category</span>
                    <input type="text" id="category" placeholder="Eg: Clothes,food" required>
                </div>
                <div class="input-box">
                    <span class="details">Choose shop's image</span>
                    <input type="file" id="pic" required>
                </div>
            </div>
            <div class="button">
                <input type="submit" id="subtn" name="Submit" value="Register">

            </div>
            <br>
            <br>
        </div>
    </div>
</body>
<script src="location.js"></script>
<script type="module">
    // Import the functions you need from the SDKs you need
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.8.2/firebase-app.js";
    import { getDatabase, set, ref, push } from "https://www.gstatic.com/firebasejs/9.8.2/firebase-database.js";
    import { getAuth, createUserWithEmailAndPassword } from "https://www.gstatic.com/firebasejs/9.8.2/firebase-auth.js";
    import { ref as sref, getStorage, uploadBytes } from "https://www.gstatic.com/firebasejs/9.8.2/firebase-storage.js";
    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries
    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
        apiKey: "AIzaSyBPhHeE4Mql11NDIQuBmFr9gK97gfd16zE",
        authDomain: "hackerzstreet-48926.firebaseapp.com",
        projectId: "hackerzstreet-48926",
        storageBucket: "hackerzstreet-48926.appspot.com",
        messagingSenderId: "412284422679",
        appId: "1:412284422679:web:3cd8cd42fa5146d3486a52"
    };
    // Initialize Firebase
    const app = initializeApp(firebaseConfig);
    const database = getDatabase(app);
    const auth = getAuth(app)
    const storage = getStorage(app)

    subtn.addEventListener('click', (err) => {
        console.log("hello")
        var adname = document.getElementById('fName').value
        var cat = document.getElementById('category').value
        var phno = document.getElementById('phno').value
        var sname = document.getElementById('sname').value
        var email = document.getElementById('email').value
        var img = document.getElementById('pic').value
        var add = document.getElementById('add').value

        const imgref = sref(storage, `images/${img.name}`)
        console.log(img)
        uploadBytes(imgref, img).then(alert("Done"))


        set(ref(database, 'category/' + cat + '/' + phno), {
            adname: adname,
            cat: cat,
            sname: sname,
            phno: phno,
            email: email,
            img: img,
            address: add
        })
    });
        window.open("/dashboard", "_self")
</script>

</html>
{{!-- createUserWithEmailAndPassword(auth, email, password)
.then((userCredential) => {
const user = userCredential.user;
})
.catch((error) => {
const errorCode = error.code;
const errorMessage = error.message;
console.log(error)
alert("Please check your password or email")
}); --}}