<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/dashboard.css" />
    <title>Dashboard</title>
  </head>

  <body>
    <div id="head">
        <h2>Admin Dashboard</h2>
    </div>

    <div class="category">
      <a class="dropdown-item" ><div class="im">
          <img src="images/order.png" alt="" /><br /></div>

        Order details</a>
      <a class="dropdown-item" ><div class="im">
          <img src="images/products.png" alt="" /><br /></div>

        Products</a>
      <a class="dropdown-item" href="/addnew"><div class="im">
          <img src="images/addnew.png" alt="" /><br /></div>

        Add new products</a>

    </div>

  </body>

</html>