<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/shops.css">
    <title>Shops</title>
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <h1 id="name">Paas<span style="color: white;">Ki</span>Dukaan</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <h2>All your needs, at your doorstep</h2>
                    <h3>When crisis emerge, <br>Vocal for local is the new surge.</h3>
                    <br>
                    <br>
                </div>
                <div class="col-2">
                    <img src="/images/shop.png" width="1200px" alt="" id="topimg">
                </div>
            </div>
        </div>
    </div>
    <div class="category">
        <a class="dropdown-item" href="#Food">
            <img src="images/Food.png" alt=""><br>
            Food</a>
        <a class="dropdown-item" href="#Cloth">
            <img src="images/clothes.png" alt=""><br>
            Clothes</a>
        <a class="dropdown-item" href="#Grocery">
            <img src="images/Grocery.png" alt=""><br>
            Grocery</a>
        <a class="dropdown-item" href="#Grocery">
            <img src="images/Electronics.png" alt=""><br>
            Electronics</a>
    </div>
    <div class="main">
        <h1>Food</h1>
        <div id="Food">
            <div class="card">

            </div>
            <div class="card">

            </div>
            <div class="card">

            </div>
        </div>
        <h1>Clothes</h1>
        <div id="Cloth">
            <div class="card">

            </div>
            <div class="card">

            </div>
            <div class="card">

            </div>
        </div>
        <h1>Grocery</h1>
        <div id="Grocery">
            <div class="card">

            </div>

        </div>
        <h1>Electronics</h1>
        <div id="electro">
            <div class="card">

            </div>
        </div>
    </div>



</body>

</html>