<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="css/userlogin.css">
     <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>

<body>
    <div class="split-screen">
        <div class="left">
        </div>
        <div class="right" data-aos="fade-up">
            <section class="googlesignup">
                <h2>User login</h2>
            </section>
            <br>
            <div class="form" data-aos="fade-up">
                
                <div class="input-container">
                    <label for="email">Email address</label>
                    <input id="email" name="email" type="email" placeholder="Email" required>
                </div>
                <div class="input-container">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" placeholder="Password" required>
                    <i class="far fa-eye-slash"></i>
                </div>
                <button class="register-btn" id="submitbtn" type="submit" value="Sign Up">Login</button>
                <div class="user1"  >
                    <br>
                    &nbsp; Not a user?<a href="/signup" class="user">Register here!<a>
                    
                </div>
                <div class="admin1">
                    
                    &nbsp; <a class="admin">Are you a seller?</a>
                    
                    
                </div>
                </section>
            </div>
        </div>
    </div>
</body>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>

</html>