<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/css/usersignup.css">
    
</head>

<body>
    <div class="split-screen">
        <div class="left">
        </div>
        <div class="right" data-aos="fade-up">
            <section class="googlesignup">
                <h2>User Signup</h2>
            </section>
            <br>
            <div class="form" data-aos="fade-up">
                <div class="input-container">
                    <label for="fname">Full Name</label>
                    <input id="fname" name="fname" type="text" placeholder="Full Name" required>
                </div>
                <div class="input-container">
                    <label for="email">Email address</label>
                    <input id="email" name="email" type="email" placeholder="Email" required>
                </div>
                <div class="input-container">
                    <label for="password">Password</label>
                    <input id="password" name="password" type="password" placeholder="Password" required>
                    <i class="far fa-eye-slash"></i>
                </div>
                <button class="register-btn" id="submitbtn" type="submit" value="Sign Up">Register</button>
                </section>
            </div>
        </div>
    </div>
</body>


   

</html>